.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.shop-wrapper {
    width: 100%;
    font-family: Arial, sans-serif;
    margin-top: 35px;
  }
  
  .shop-inner {
    display: flex;
    width: 100%;
  }

  .shop-sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .filter-block {
      background-color: #ffffff;           
      padding: 30px;                      
      border-radius: 8px;                 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); 
      box-sizing: border-box;
      
  
      h4 {
        font-size: 16px;
        margin-bottom: 10px;
      }
  
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
  
        li {
          display: flex;
          align-items: center;
          font-size: 14px;
          gap: 8px;
        }
      }
    }
  }
  
  
  .shop-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .shop-toolbar {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      max-width: 1050px;
      gap: 10px;
      margin-bottom: 20px;
  
      button {
        padding: 8px 16px;
        font-size: 14px;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        cursor: pointer;
        border-radius: 4px;
      }
    }
  
    .shop-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 30px;
      width: 100%;
      max-width: 1050px; 
    }
  }
  