.nav-icon-container {
    display: flex;
    gap: 15px;
    margin-left: auto;
  
    i {
      color: #fff;
      font-size: 18px;
      cursor: pointer;
    }

   .zero {
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 3px;
    
   }
  }
  